  h1{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 60px;
    padding-top: 10px;
    margin-top: 0px;
    padding-left: 10px;
  }
  .main{
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .main-logo,.main-title{
    margin: 5px;
    box-sizing: border-box;
  }
  .main-logo{
    width: 7%;
  }
  .main-logo img{
    width: 100%;
    height: auto;
  }
  .main-title{
    width: 40%;
  }
  body{
    background-attachment: scroll;
    background-color: rgba(127, 221, 255, 0.63);
    background-size: cover;
  }
  .navbar {
    margin: 0;
    padding:16px 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
  }
  
  .navbar>a {
    float: left;
  }
  
  .navbar>a, .dropbtn {
    color: white;
    text-align: center;
    padding: 10px 52px;
    text-decoration: none;
    display: flex;
    position: relative;
    justify-content: center;
  }
  

  div.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 16px 52px;;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: underline;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .navbar>a:after,.dropbtn:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navbar>a:hover:after, .dropbtn:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  h2{
    margin-top: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.519);
    width: 40%;
    border-radius: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  h2::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background-color: red;
  }
  .aboutdet, .mission-cont,.join, .contact{
    font-size: 20px;
    line-height: 30px;
  }  
  .social-set{
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .social{
    width: 15%;
    padding: 10px;
    margin: 5px;
    transform: scale(1);
    transition: transform 0.3s ease;
  }
  .social:hover{
    transform: scale(1.2);
  }
  .social img{
    width: 100%;
  }
  li{
    margin-bottom: 1%;
  }
  .contact h3 + a{
    text-decoration: none;
  }
  .contact h3 + a:hover{
    color: black;
    font-size: 22px;
  }
  @media screen and (max-width: 600px) {
    .main{
      width: 100%;
      height: auto;
      flex-wrap: nowrap;
    }
    .main-logo{
      width: 25%;
    }
    .main-title{
      width: 20%;
    }
    h1{
      font-size: 50px;
    }
    .navbar {   
      flex-direction: column;
      width: 80%;
      text-align: justify;
      margin-left: auto;
      margin-right: auto;
    }
    .social{
      width: 35%;
    }
}
@media screen and (max-width: 992px) {
    .navbar {   
      flex-direction: column;
      width: 80%; 
      text-align: justify;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    .main{
      width: 100%;
      height: auto;
      flex-wrap: nowrap;
    }
    .main-logo{
      width: 25%;
    }
    .main-title{
      width: 20%;
    }
}